species_sprot/bacteria/aa_dis_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/bacteria/aa_rep_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/bacteria/genetic_ids.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/eukaryota/aa_dis_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/eukaryota/aa_rep_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/eukaryota/genetic_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/vertebrates_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/human_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/human_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/mammals_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/mammals_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/invertebrates_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/invertebrates_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/plants_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/archaea_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/fungi_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/fungi_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/rodents_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/vertebrates_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/viruses_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/bacteria_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/plants_trembl_ids.csv filter=lfs diff=lfs merge=lfs -text
taxonomic_divisions/rodents_sprot_ids.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/invertebrates/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/mammals/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/plants/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/vertebrates/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/archaea/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/mammals/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/plants/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/fungi/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/invertebrates/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/vertebrates/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/archaea/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/archaea/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/eukaryota/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/eukaryota/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/fungi/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/bacteria/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/mammals/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/viruses/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/bacteria/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/fungi/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/invertebrates/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/viruses/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/bacteria/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/eukaryota/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/viruses/aa_distribution.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/plants/mean_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_trembl/vertebrates/sum_monorepeats.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/archaea/aa_rep_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/archaea/genetic_ids.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/viruses/aa_dis_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/viruses/aa_rep_results.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/viruses/genetic_ids.csv filter=lfs diff=lfs merge=lfs -text
species_sprot/archaea/aa_dis_results.csv filter=lfs diff=lfs merge=lfs -text
stats.csv filter=lfs diff=lfs merge=lfs -text
